/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
  text-align: center;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  background: url(wallpaper.jpg) no-repeat center center fixed;
  background-size: cover;
}

.container {
  width: 1200px;
  height: 700px;
  background: rgba(255, 255, 255, 0.7);
  margin: auto;
  margin-top: 6%;
  border-radius: 30px;
}
.container .textbox {
  margin-top: 90px;
  display: inline-block;
  width: 400px;
  height: 500px;
  border-radius: 30px;
  text-align: left;
  padding-top: 20px;
  padding-left: 40px;
}
.container div:first-child {
  margin-right: 70px;
  background-color: #EE4B2B;
}
.container div:last-child {
  margin-left: 70px;
  background-color: #0096FF;
}
.container h1 {
  font-size: 34px;
  padding-bottom: 20px;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */